
@import 'fonts/BalooTamma-Regular.ttf';
@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,700';

:root {
	--blue-pr: #003366;
	--blue-sc: #003399;
	--yell : #FFDE00;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

body, html {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

header {

	display: flex;
	flex-flow: row wrap; 
	margin: 0px;
	width: 100%;
	height: 130px;	
	font-family: 'Roboto';
}
.container {
	width: 80%;
	margin-left:auto;
	margin-right: auto; 
}


#top-nav {
	background: #eee;	
	margin: 0px;
	height: 55px;
	width: 100%;
	margin-left:auto;
	margin-right: auto; 
}

#top-nav .top_col {
	width: 50%;
	padding: 0px;
	margin: 0px;
	float: left;
	position: relative;
}

#top-nav a {
	text-decoration: none;
	display: block;
	width: 300px;
}

#top-nav .email p {
	color: #222;

}

#top-nav .search {
	border: 1px solid #999;
	border-radius: 5px;
	/*height: 40px; */
	width: 300px;
	margin-top: 6px;
	background: #eee;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	padding: 5px;
	padding-left: 10px;
}

#top-nav .search-input {
	border: 0px;
	background: #eee;
	height: 25px;
	padding-left: 10px;
	width: 75%;
}

#top-nav .search-button {
	background: var(--yell);
	color: #000;
	font-weight: 400;
	padding: 6px 7px;
	cursor: pointer;
	border: 0px;
	border-radius:5px; 
	
}

#top-nav .fa {
	color: #aaa;
}

.top-header {
	background-color: var(--blue-pr);
	width:100%;
	margin: 0px;
	height: 70%;

}

nav {
	margin-left: auto;
	margin-right:auto; 
	width: 75%;
	/*height: 100%;*/
	float: right;
	position: relative;		
}

nav > ul {
	width: 100%;
	height: 100%;
	padding-top: 10px;

	padding-left: 0px;
	font-weight: bold;
	list-style: none;
	float: right;
}



nav > ul > li{
    float: left;
    display: inline-block;
    margin-top:10px; 
    /* width: 100px; */
    height: 50px;
    font-size: 15px;
    text-align: center;
}

nav > ul > li > a{
	color: var(--yell);
    text-decoration: none;
    padding: 15px 20px;
    margin-right:5px;
    margin-left:5px;  	
}

nav > ul > li > a:hover {
	color: #fff;
	border: 2px solid var(--yell);
	border-radius: 5px;
}

nav li .send-article {
	border: 3px solid var(--yell);
	border-radius: 10px;
	padding: 15px;
	margin: 21px;
}

#logo {
	float: left;
	font-family: 'Baloo Tamma';
	display: block;
	cursor:pointer;
	height: 90px;
	width: 25%;	
}

#logo h2 {
	font-size: 50px;
	margin: 0px;
	height: 100%;
	padding-top: 10px;
	padding-bottom: auto;
	color: white;
}


.search {
	float: left;	
	background-color: #0C2C52;
	margin-left: 210px;
}

.search form input[type="text"] {
	background-color: #0C2C52;
	height: 50%;
	border: 0px;
	padding: 10px;
	color: white;
	font-size: 15px;
	margin-top:25px; 
}

.search button {
	height: 60%;
	cursor: pointer;
}

.search .search-btn {
	background: url('search-icon.png') center center no-repeat #FFCC00;
	height: 70px;
	width: 70px;
	cursor: pointer;
	border: 0px;
	background-size: 20px;
}




