
@import 'fonts/BalooTamma-Regular.ttf';
@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

:root {
	--blue-pr: #004581;
	--blue-sc: #003399;
	--yell : #FFDE00;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

a {
	text-decoration: none;
	color: #111;
}

a:hover {
	color: var(--blue-pr);
}

body, html {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

h3, h1 {
	font-family:  'Roboto', sans-serif;
}

.red {
	background-color: red !important;
}

.yellow {
	background-color: #FFD800 !important;
}

header {

	display: flex;
	flex-flow: row wrap; 
	margin: 0px;
	width: 100%;
	height: auto;	
	font-family: 'Roboto';
}
.container {
	width: 80%;
	margin-left:auto;
	margin-right: auto; 
}


#top-nav {
	background: #eee;	
	margin: 0px;
	height: 55px;
	width: 100%;
	margin-left:auto;
	margin-right: auto; 
}

#top-nav .top_col {
	width: 50%;
	padding: 0px;
	margin: 0px;
	float: left;
	position: relative;
}

#top-nav a {
	text-decoration: none;
	display: block;
	width: 300px;
}

#top-nav .contact {
	color: #222;
	font-size: 13px;
	line-height: 0.5em;
	margin-top: 10px;	
}

#top-nav .contact a {
	color: #888;
}

#top-nav .search {
	border: 1px solid #999;
	border-radius: 25px;
	/*height: 40px; */
	width: 300px;
	margin-top: 6px;
	background: #eee;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	padding: 5px;
	padding-left: 10px;
}

#top-nav .search-input {
	border: 0px;
	background: #eee;
	height: 25px;
	padding-left: 10px;
	width: 75%;
}

#top-nav .search-button {
	background: var(--yell);
	color: #000;
	font-weight: 400;
	padding: 6px 7px;
	cursor: pointer;
	border: 0px;
	border-radius:5px; 
	
}

#top-nav .fa {
	color: #aaa;
}

.top-header {
	background-color: var(--blue-pr);
	width:100%;
	margin: 0px;
}

nav {
	margin-left: auto;
	margin-right:auto; 
	width: 75%;
	/*height: 100%;*/
	float: right;
	position: relative;		
}

nav > ul {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-left: 0px;
	font-weight: bold;
	list-style: none;
	float: right;
}



nav > ul > li{
    float: left;
    display: inline-block;
    margin-top:10px; 
    /* width: 100px; */
    height: 50px;
    font-size: 13px;
    text-align: center;
}

nav > ul > li > a{
	color: var(--yell);
    text-decoration: none;
    padding: 15px 15px;
    margin-right:5px;
    margin-left:5px;  	
}

nav > ul > li > a:hover {
	color: #fff;
	/*border: 2px solid var(--yell);*/
	border-radius: 25px;
}

nav li .send-article {
	border: 2px solid var(--yell);
	border-radius: 25px;
	padding: 10px;
	margin: 21px;
}

#logo {
	float: left;
	display: block;
	cursor:pointer;
	height: 90px;
	width: 25%;	
}

#logo h2 {
	font-family: 'Baloo Tamma';
	font-size: 50px;
	margin: 0px;
	height: 100%;
	padding-top: 10px;
	padding-bottom: auto;
	color: white;
}


.search {
	float: left;	
	background-color: #0C2C52;
	margin-left: 210px;
}

.search form input[type="text"] {
	background-color: #0C2C52;
	height: 50%;
	border: 0px;
	padding: 10px;
	color: white;
	font-size: 15px;
	margin-top:25px; 
}

.search button {
	height: 60%;
	cursor: pointer;
}

.search .search-btn {
	background: url('search-icon.png') center center no-repeat #FFCC00;
	height: 70px;
	width: 70px;
	cursor: pointer;
	border: 0px;
	background-size: 20px;
}

content {
	margin: 0px;
	padding: 0px;
}

#slider {
	background-color: #eee;
	/*background: url(./assets/images/featured-bg.jpg) repeat;*/
	width: 100%; 	
	height: 470px;
	font-family: 'Open Sans', sans-serif !important;
}

#slider .canvas {
	display: flex;
	flex-flow:row wrap; 
	background-color: #eee;
	border-radius: 5px;
	width: 80%;
	height:425px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: absolute;
    	right: 10%;
    	left: 10%;
}

#slider .featured {
	background: #ddd;
	width: 62%;
	height: 100%;
}

#slider .featured .thumbArea{
	width: 100%;
	height: 100%;
}

#slider .featured .thumbArea img{
	width: 100%;
	height: 100%;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#slider .featured .thumbArea .postMeta{
	background: rgba(255, 255 ,255, 0.8);
	width: 80%;
	height: 100px;
	padding: 10px;
	position: relative;
	left: 30px;
	bottom:150px;

}

#slider .featured .thumbArea .postMeta h2{
	margin: 5px !important;

}

#slider .featured .thumbArea .postMeta span{
	display:block;
	color: #222;
	font-size: 12px;
}

#slider .featured-side {
	width: 35%;
	height: 101%;
	padding-left: 10px;
	/*background: #e3e3e3;*/
}

#slider .featured-side .item {
	display: flex;
	flex-flow:row wrap;  
	width: 94%;
	height: auto;
	padding: 5px;
	margin-top:0px;
	margin-left: 5px; 
	background: #ebebeb;
}

#slider .featured-side .item .itemThumb {
	background-size: cover;
	width: 35%;
	height: 80%;
}

#slider .featured-side .item .itemMeta {
	width: 60%;
	height: 100%;
	padding: 0px;
}

#slider .featured-side .item .itemMeta span{
	color: #555;
	font-size: 10px;
	margin-left: 3px;
}

.label {
	width: 300px;
	height: 100px;
	padding: 5px; 
	margin: 10px;
	color: #fff;
	border-radius: 2px;
	font-size: 10px;
	background-color: grey;
}

#slider .featured-side .item .itemThumb img{
	/*background-size: cover;*/
	object-fit: cover;
	width: 100%;
	height: 100%;

}

#slider .featured-side .item h3{
	color: #555;
	word-wrap: break-word;
	font-size: 18px;
	margin-left: 10px;
}


article {
	margin: 0px;
	width: 65%;
	/*background: #eee;*/
	height: 500px;
}

.news-update {
	margin-top: 10px;
	padding-top: 5px;
}

.news-update .news-update-body {
	/*margin-top: 5px;*/
	/*padding-top: 5px;*/
}

.news-update .news-update-body .news-update-list{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.news-update-list .col-list{
	/*background: #f7f7f7;*/
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: 160px;
	padding: 5px;
	margin-bottom:0px;
	border-radius: 5px;
	/*border-bottom: 3px solid #999; */
}

.news-update-list .col-list:hover{
	background: #f7f7f7;
}

.news-update-list .col-list .thumb{
	width: 30%;
	height: 90%;
	object-fit: cover;
}

.news-update-list .col-list .list-content {
	width: 65%;
	margin-left: 20px;
}

.list-content span {
	font-size: 13px;
}

.list-content h2 {
	margin: 10px 10px;
	font-size: 20px;
	color: #555;
}

.list-content p {
	word-wrap: break-word;
	font-size: 15px;
	width: 95%;
	margin: 0px 10px;
	position: relative;
}

.news-update-list .col-list .thumb img{
	width: 100%;
	height: 100%;
	padding: 5px;
}

.news-update-title {
	width: 100%;
	height: 50px;
	margin-top:10px; 
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: auto;	
	background: var(--blue-pr);
}

.news-update-title h4 {
	display: block;
	margin: 0px;
	font-size: 20px;
	color: #fff;
}

